<%- include('cmpts/_header',{type: "index"}); %>
<%- include('cmpts/_nav',{type: "index"}); %>
<div class="list-wrap inner">
	<%- include('cmpts/_vslides',{type: "index"}); %>
	<%- include('cmpts/_card_special',{type: "index"}); %>
	<div class="apps" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':0}">
		<div class="hd hd-normal clearfix">
			<div class="left">新鲜应用</div>
			<a class="right" href="/app/new?page=2">查看全部</a>
		</div>
		<%- include('cmpts/_card_normal',{type: "index"}); %>	
	</div>
	<div class="apps articles videos" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':0}">
		<div class="hd clearfix">
			<div class="left-sm">最新视频</div>
			<a class="right" href="/video">查看全部</a>
		</div>
		<%- include('cmpts/_card_video',{type: "index"}); %>
	</div>
</div>	
<%- include('cmpts/_footer',{type: "index"}); %>