<%- include('cmpts/_header',{type: "index"}); %>
<%- include('cmpts/_nav',{type: "index"}); %>
<%- include('cmpts/_tags',{type: "index"}); %>
<div class="list-wrap inner">
	<%- include('cmpts/_vslides',{type: "index"}); %>
	<div class="latest-special" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':0}">
		<div class="row">
			<div class="item" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':60}">
				<a href="https://www.macbl.com/article/apps/best-osx-macos-apps-you-need-2019">
					<img data-src="https://static.skyandroid.cn/images/slides/20190809156533913681007.png?x-oss-process=style/h_128-w_320|https://static.skyandroid.cn/images/slides/20190809156533913681007.png?x-oss-process=style/h_256-w_640"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png" alt="MacOS装机必备应用下载合集(2019年05月更新)">
				</a></div>
			<div class="item" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':60}">
				<a href="https://www.macbl.com/article/how-to/1528">
					<img data-src="https://static.skyandroid.cn/images/slides/20190809156533914958290.png?x-oss-process=style/h_128-w_320|https://static.skyandroid.cn/images/slides/20190809156533914958290.png?x-oss-process=style/h_256-w_640"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png" alt="提高剪片工作效率，更使得整个视频精美的FCP插件集合">
				</a></div>
			<div class="item" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':60}">
				<a href="https://www.macbl.com/article/apps/1766">
					<img data-src="https://static.skyandroid.cn/images/slides/20190809156533915969238.png?x-oss-process=style/h_128-w_320|https://static.skyandroid.cn/images/slides/20190809156533915969238.png?x-oss-process=style/h_256-w_640"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png" alt="设计师必备的Mac软件推荐">
				</a></div>
		</div>
		<div class="row">
			<div class="item" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':60}">
				<a href="https://www.macbl.com/article/tips/1739">
					<img data-src="https://static.skyandroid.cn/images/slides/20190809156533918017781.png?x-oss-process=style/h_128-w_320|https://static.skyandroid.cn/images/slides/20190809156533918017781.png?x-oss-process=style/h_256-w_640"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png" alt="Mac小白系列视频教程汇总">
				</a></div>
			<div class="item" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0.2,'distance':60}">
				<a href="https://www.macbl.com/article/apps/1799">
					<img data-src="https://static.skyandroid.cn/images/slides/20190809156533918854872.png?x-oss-process=style/h_128-w_320|https://static.skyandroid.cn/images/slides/20190809156533918854872.png?x-oss-process=style/h_256-w_640"
					 src="https://static.skyandroid.cn/images/placeholder-article-list.png" alt="动态壁纸你有么？最好的Mac壁纸软件大多都在这了哦！">
				</a></div>
		</div>
	</div>
	<div class="apps">
		<div class="hd hd-normal clearfix">
			<div class="left">新鲜应用</div>
		</div>
		<%- include('cmpts/_card_normal',{type: "index"}); %>	
	</div>
	<%- include('cmpts/_pagenation',{type: "index"}); %>
</div>	
<%- include('cmpts/_footer',{type: "index"}); %>