<%- include('cmpts/_header',{type: "post"}); %>
<%- include('cmpts/_nav',{type: "post"}); %>
<%- include('cmpts/_tags',{type: "post"}); %>
<div class="articles inner clearfix">
	<div class="content article-detail-content">
		<div class="head-pic">
			<img itemprop="thumbnailUrl" src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="images/cover.png"></div>
		<div class="g-bd">
			<h1 class="title" itemprop="headline">MacOS装机必备应用下载合集(2020年03月更新)</h1>
			<div class="article-detail-container format">
				<p>现在越来越多的人使用Mac，各种各样的软件也越来越多，但是也不是每一款软件都会上架到App Store上，而如果你需要下载的话就得到各自的官网去，真的太麻烦了。所以废鱼今天就分类整理一下，希望可以帮助到大家！</p><br />
				<h3>一、实用工具</h3>
				<p>先来给大家介绍几个Mac比较实用的小工具，他们中有的被大众熟知，有的鲜为人知，但都功能都非常强大。</p>
				<div class="app-box-list">
					<div class="app-box">
						<a class="thumb col" href="https://www.macbl.com/app/utilities/paste">
							<img src="https://static.skyandroid.cn/images/placeholder.png" data-src="https://static.skyandroid.cn/images/logo/2018012715170471734066.png?x-oss-process=style/h_70-w_70|https://static.skyandroid.cn/images/logo/2018012715170471734066.png?x-oss-process=style/h_140-w_140">
						</a>
						<div class="md col">
							<div class="app-name">
								<a href="https://www.macbl.com/app/utilities/paste">
									Paste
								</a></div>
							<div class="app-desc">剪切板增强工具</div>
						</div>
						<a class="btn-download btn col" href="https://www.macbl.com/app/utilities/paste">
							免费下载
						</a>
					</div>
					<div class="app-box">
						<a class="thumb col" href="https://www.macbl.com/app/utilities/calendar-366-plus">
							<img src="https://static.skyandroid.cn/images/placeholder.png" data-src="https://static.skyandroid.cn/images/logo/20190107154683343093640.png?x-oss-process=style/h_70-w_70|https://static.skyandroid.cn/images/logo/20190107154683343093640.png?x-oss-process=style/h_140-w_140">
						</a>
						<div class="md col">
							<div class="app-name">
								<a href="https://www.macbl.com/app/utilities/calendar-366-plus">
									Calendar 366 II
								</a></div>
							<div class="app-desc">好用的日历提醒软件</div>
						</div>
						<a class="btn-download btn col" href="https://www.macbl.com/app/utilities/calendar-366-plus">
							免费下载
						</a>
					</div>
					<div class="app-box">
						<a class="thumb col" href="https://www.macbl.com/app/internet/teamviewer">
							<img src="https://static.skyandroid.cn/images/placeholder.png" data-src="https://static.skyandroid.cn/images/logo/2018010815154036863189.png?x-oss-process=style/h_70-w_70|https://static.skyandroid.cn/images/logo/2018010815154036863189.png?x-oss-process=style/h_140-w_140">
						</a>
						<div class="md col">
							<div class="app-name">
								<a href="https://www.macbl.com/app/internet/teamviewer">
									TeamViewer
								</a></div>
							<div class="app-desc">远程控制工具</div>
						</div>
						<a class="btn-download btn col" href="https://www.macbl.com/app/internet/teamviewer">
							正版下载
						</a>
					</div>
				</div>
				<h3>命运之手 2（Hand of Fate 2）</h3>
				<p>集格斗+角色扮演为一体的全新升级体验！游戏完美融合塔罗牌与地下城战斗元素，在这里你走的每一步、做的每一次选择都需要非常小心，看似简单的战斗，却是命运之手的操控。</p>
				<div class="media-wrapper">
					<video poster="images/cover.png" style="max-width:100%;" preload="none" controls playsinline webkit-playsinline>
						<source src="http://img.1991th.com/tuchongeter/article/56e87e924624c7779.mp4" type="video/mp4">
					</video>
				</div>
				<div class="app-box-list">
					<div class="app-box">
						<a class="thumb col" href="https://www.macbl.com/app/games/hand-of-fate-2">
							<img src="https://static.skyandroid.cn/images/placeholder.png" data-src="https://static.skyandroid.cn/images/logo/20190428155643563128035.png?x-oss-process=style/h_70-w_70|https://static.skyandroid.cn/images/logo/20190428155643563128035.png?x-oss-process=style/h_140-w_140">
						</a>
						<div class="md col">
							<div class="app-name">
								<a href="https://www.macbl.com/app/games/hand-of-fate-2">
									命运之手 2（Hand of Fate 2）
								</a></div>
							<div class="app-desc">角色扮演格斗卡牌游戏</div>
						</div>
						<a class="btn-download btn col" href="https://www.macbl.com/app/games/hand-of-fate-2">
							免费下载
						</a>
					</div>
				</div>
				<p>
					<a href=https://static.skyandroid.cn/images/data/1578637064102972.jpeg data-fancybox="group"><img itemprop="image"
						 src="https://static.skyandroid.cn/images/data/1578637064102972.jpeg" ?x-oss-process=style/w_620 data-src="https://static.skyandroid.cn/images/data/1578637064102972.jpeg?x-oss-process=style/w_620|https://static.skyandroid.cn/images/data/1578637064102972.jpeg?x-oss-process=style/w_1240"
						 title="1578637064102972.jpeg" alt="1.jpg" /></a>
				</p>
				<p>
					<a href=https://static.skyandroid.cn/images/data/1578637064102972.jpeg data-fancybox="group"><img itemprop="image"
						 src="https://static.skyandroid.cn/images/data/1578637064102972.jpeg" ?x-oss-process=style/w_620 data-src="https://static.skyandroid.cn/images/data/1578637064102972.jpeg?x-oss-process=style/w_620|https://static.skyandroid.cn/images/data/1578637064102972.jpeg?x-oss-process=style/w_1240"
						 title="1578637064102972.jpeg" alt="1.jpg" /></a>
				</p>

				<div class="preview-box">
					<h2>预览</h2>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide ">
								<a href="https://static.skyandroid.cn/images/app_screen/20190428155644731789414.jpeg" class="fancybox"
								 data-fancybox="group">
									<img itemprop="screenshot" data-src="https://static.skyandroid.cn/images/app_screen/20190428155644731789414.jpeg?x-oss-process=style/h_300|https://static.skyandroid.cn/images/app_screen/20190428155644731789414.jpeg?x-oss-process=style/h_600"
									 src="https://static.skyandroid.cn/images/app_screen/20190428155644731789414.jpeg?x-oss-process=style/h_300">
								</a></div>
							<div class="swiper-slide ">
								<a href="https://static.skyandroid.cn/images/app_screen/20190428155644732590634.jpeg" class="fancybox"
								 data-fancybox="group">
									<img itemprop="screenshot" data-src="https://static.skyandroid.cn/images/app_screen/20190428155644732590634.jpeg?x-oss-process=style/h_300|https://static.skyandroid.cn/images/app_screen/20190428155644732590634.jpeg?x-oss-process=style/h_600"
									 src="https://static.skyandroid.cn/images/app_screen/20190428155644732590634.jpeg?x-oss-process=style/h_300">
								</a></div>
							<div class="swiper-slide ">
								<a href="https://static.skyandroid.cn/images/app_screen/20190428155644732732221.jpeg" class="fancybox"
								 data-fancybox="group">
									<img itemprop="screenshot" data-src="https://static.skyandroid.cn/images/app_screen/20190428155644732732221.jpeg?x-oss-process=style/h_300|https://static.skyandroid.cn/images/app_screen/20190428155644732732221.jpeg?x-oss-process=style/h_600"
									 src="https://static.skyandroid.cn/images/app_screen/20190428155644732732221.jpeg?x-oss-process=style/h_300">
								</a></div>
							<div class="swiper-slide ">
								<a href="https://static.skyandroid.cn/images/app_screen/20190428155644732926449.jpeg" class="fancybox"
								 data-fancybox="group">
									<img itemprop="screenshot" data-src="https://static.skyandroid.cn/images/app_screen/20190428155644732926449.jpeg?x-oss-process=style/h_300|https://static.skyandroid.cn/images/app_screen/20190428155644732926449.jpeg?x-oss-process=style/h_600"
									 src="https://static.skyandroid.cn/images/app_screen/20190428155644732926449.jpeg?x-oss-process=style/h_300">
								</a></div>
							<div class="swiper-slide ">
								<a href="https://static.skyandroid.cn/images/app_screen/20190428155644733090058.jpeg" class="fancybox"
								 data-fancybox="group">
									<img itemprop="screenshot" data-src="https://static.skyandroid.cn/images/app_screen/20190428155644733090058.jpeg?x-oss-process=style/h_300|https://static.skyandroid.cn/images/app_screen/20190428155644733090058.jpeg?x-oss-process=style/h_600"
									 src="https://static.skyandroid.cn/images/app_screen/20190428155644733090058.jpeg?x-oss-process=style/h_300">
								</a></div>
						</div>
					</div>
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="app-history">
					<h2>历史版本</h2>
					<table class="history-table">
						<tr>
							<th width="200">版本号</th>
							<th width="100">更新日期</th>
							<th width="100">文件大小</th>
							<th width="220" style="text-align: right;">免费下载</th>
						</tr>
						<tr>
							<td>5.5.2</td>
							<td>2020.03.07</td>
							<td>11.25 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.5.2?num=20750" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.5.2?num=20751" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.5.1</td>
							<td>2020.01.09</td>
							<td>11.28 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.5.1?num=19625" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.5.1?num=19626" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.5.55012</td>
							<td>2019.12.23</td>
							<td>11.28 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.5.55012?num=19241" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.5.55012?num=19242" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.4.54066</td>
							<td>2019.12.06</td>
							<td>10.96 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.4.54066?num=18835" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.4.54066?num=18836" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.4.54065</td>
							<td>2019.11.09</td>
							<td>10.96 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.4.54065?num=18077" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.4.54065?num=18078" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.4</td>
							<td>2019.10.28</td>
							<td>10.76 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.4?num=17804" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.4?num=17805" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.3.3.53341</td>
							<td>2019.10.13</td>
							<td>10.52 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.3.3.53341?num=17364" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.3.3.53341?num=17365" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.3.2.53204</td>
							<td>2019.09.03</td>
							<td>10.54 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.3.2.53204?num=16545" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.3.2.53204?num=16546" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.3.1.53102</td>
							<td>2019.08.07</td>
							<td>10.51 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.3.1.53102?num=15968" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.3.1.53102?num=15969" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.3.53020</td>
							<td>2019.07.11</td>
							<td>10.56 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.3.53020?num=15320" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.3.53020?num=15321" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.2.6</td>
							<td>2019.06.12</td>
							<td>10.56 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.2.6?num=14697" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.2.6?num=14698" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.2.5</td>
							<td>2019.05.29</td>
							<td>10.54 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.2.5?num=14385" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.2.5?num=14386" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
						<tr>
							<td>5.2.4</td>
							<td>2019.05.05</td>
							<td>9.73 MB</td>
							<td style="text-align: right;"><a href="/app/internet/viper-ftp_5.2.4?num=13639" class="btn btn-small col btn-bd-download">百度云盘</a>
								<a href="/app/internet/viper-ftp_5.2.4?num=13640" class="btn btn-small col btn-bd-download">城通网盘</a></td>
						</tr>
					</table>
				</div>

				<p>最后，废鱼如果有看到比较好用的软件，也会第一时间更新哦~</p>
			</div>
		</div>
	</div>
	<div class="article-sidebar">
		<div class="g-box">
			<div class="desc-bd">
				<div class="title-nop">信息</div>
				<ul class="rows">
					<li class="clearfix">
						<div class="row-left">文章分类</div>
						<div class="row-right">
							<a href="/article/apps">精选应用</a></div>
					</li>
					<li class="clearfix">
						<div class="row-left">发布日期</div>
						<div class="row-right">
							<span itemprop="dateModified">2020.01.16</span></div>
					</li>
					<li class="clearfix">
						<div class="row-left">标签</div>
						<div class="row-right"><a href="/article/tag/装机必备">装机必备</a><a href="/article/tag/必装软件">必装软件</a><a href="/article/tag/必备软件">必备软件</a><a
							 href="/article/tag/macos">macos</a><a href="/article/tag/实用工具">实用工具</a></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="g-box">
			<div class="title-nop">相关文章</div>
			<ul class="hot-articles">
				<li>
					<a href="/article/apps/best-osx-macos-apps-you-need-2019">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/20190326155357165132477.png?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/20190326155357165132477.png?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">MacOS装机必备应用下载合集(201...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2020.01.16</span>
							</span>
						</span>
					</a></li>
				<li>
					<a href="/article/apps/best-osx-macos-apps-you-need-2018">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/20181220154528962077781.png?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/20181220154528962077781.png?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">macOS装机必备应用下载合集(201...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2018.12.10</span>
							</span>
						</span>
					</a></li>
				<li>
					<a href="/article/tips/top-10-macos-keyboard-shortcuts">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/2018012215166064632714.jpeg?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/2018012215166064632714.jpeg?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">大家应该知道的十大macOS键盘快...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2018.01.22</span>
							</span>
						</span>
					</a></li>
			</ul>
		</div>
	</div>
</div>
<%- include('cmpts/_share_box',{type: "post"}); %>	
<%- include('cmpts/_footer',{type: "post"}); %>		