<%- include('cmpts/_header',{type: "post"}); %>
<%- include('cmpts/_nav',{type: "post"}); %>
<%- include('cmpts/_tags',{type: "post"}); %>
<div class="articles inner clearfix">
	<div class="content article-detail-content">
		<div class="head-pic">
			<img itemprop="thumbnailUrl" src="https://static.skyandroid.cn/images/placeholder-article-list.png" data-src="<%=relative_path%>images/cover.png"/>
		</div>
		<div class="g-bd">
			<h1 class="title" itemprop="headline">MacOS装机必备应用下载合集(2020年03月更新)</h1>
			<div class="article-detail-container format">
				<p>现在越来越多的人使用Mac，各种各样的软件也越来越多，但是也不是每一款软件都会上架到App Store上，而如果你需要下载的话就得到各自的官网去，真的太麻烦了。所以废鱼今天就分类整理一下，希望可以帮助到大家！
				</p>
				<br />
				<%- include('cmpts/_app_box',{type: "post"}); %>
				{{content}}
			</div>
		</div>
	</div>
	<div class="article-sidebar">
		<div class="g-box">
			<div class="desc-bd">
				<div class="title-nop">信息</div>
				<ul class="rows">
					<li class="clearfix">
						<div class="row-left">文章分类</div>
						<div class="row-right">
							<a href="/article/apps">精选应用</a></div>
					</li>
					<li class="clearfix">
						<div class="row-left">发布日期</div>
						<div class="row-right">
							<span itemprop="dateModified">2020.01.16</span></div>
					</li>
					<li class="clearfix">
						<div class="row-left">标签</div>
						<div class="row-right"><a href="/article/tag/装机必备">装机必备</a><a href="/article/tag/必装软件">必装软件</a><a href="/article/tag/必备软件">必备软件</a><a
							 href="/article/tag/macos">macos</a><a href="/article/tag/实用工具">实用工具</a></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="g-box no-padding">
			<a href="http://wm.makeding.com/iclk/?zoneid=23080" class="post-img" target="_blank" data-type="admodel"
			 data-resource="12">
				<img src="https://static.skyandroid.cn/images/app_screen/20181216154489802233249.png">
				<span class="tag">AD</span>
			</a>
		</div>
		<div class="g-box">
			<div class="title-nop">相关文章</div>
			<ul class="hot-articles">
				<li>
					<a href="/article/apps/best-osx-macos-apps-you-need-2019">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/20190326155357165132477.png?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/20190326155357165132477.png?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">MacOS装机必备应用下载合集(201...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2020.01.16</span>
							</span>
						</span>
					</a></li>
				<li>
					<a href="/article/apps/best-osx-macos-apps-you-need-2018">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/20181220154528962077781.png?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/20181220154528962077781.png?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">macOS装机必备应用下载合集(201...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2018.12.10</span>
							</span>
						</span>
					</a></li>
				<li>
					<a href="/article/tips/top-10-macos-keyboard-shortcuts">
						<span class="thumb">
							<img src="https://static.skyandroid.cn/images/placeholder-article-small.png" data-src="https://static.skyandroid.cn/images/manager-header/2018012215166064632714.jpeg?x-oss-process=style/h_96-w_240|https://static.skyandroid.cn/images/manager-header/2018012215166064632714.jpeg?x-oss-process=style/h_192-w_480">
						</span>
						<span class="bd">
							<span class="article-title">大家应该知道的十大macOS键盘快...</span>
							<span class="state">
								<i class="icon-date"></i>
								<span class="col">2018.01.22</span>
							</span>
						</span>
					</a></li>
			</ul>
		</div>
	</div>
</div>
<%- include('cmpts/_share_box',{type: "post"}); %>	
<%- include('cmpts/_footer',{type: "post"}); %>