<div class="app-box-list">
	<div class="app-box">
		<a class="thumb col" href="https://www.macbl.com/app/utilities/paste">
			<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
		</a>
		<div class="md col">
			<div class="app-name">
				<a href="https://www.macbl.com/app/utilities/paste">
					Paste
				</a></div>
			<div class="app-desc">剪切板增强工具</div>
		</div>
		<a class="btn-download btn col" href="https://www.macbl.com/app/utilities/paste">
			免费下载
		</a>
	</div>
	<div class="app-box">
		<a class="thumb col" href="https://www.macbl.com/app/utilities/calendar-366-plus">
			<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
		</a>
		<div class="md col">
			<div class="app-name">
				<a href="https://www.macbl.com/app/utilities/calendar-366-plus">
					Calendar 366 II
				</a></div>
			<div class="app-desc">好用的日历提醒软件</div>
		</div>
		<a class="btn-download btn col" href="https://www.macbl.com/app/utilities/calendar-366-plus">
			免费下载
		</a>
	</div>
	<div class="app-box">
		<a class="thumb col" href="https://www.macbl.com/app/internet/teamviewer">
			<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
		</a>
		<div class="md col">
			<div class="app-name">
				<a href="https://www.macbl.com/app/internet/teamviewer">
					TeamViewer
				</a></div>
			<div class="app-desc">远程控制工具</div>
		</div>
		<a class="btn-download btn col" href="https://www.macbl.com/app/internet/teamviewer">
			正版下载
		</a>
	</div>
</div>