<ul class="article-list">
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay': 0,'distance':60}" title="MacOS装机必备应用下载合集(2020年03月更新)">
		<a href="<%=relative_path%>post.html">
			<span class="article-thumb">
				<img src="<%=relative_path%>images/cover.png" />
				<span class="tag">精选应用</span>
			</span>
			<span class="article-bd">
				<span class="title">MacOS装机必备应用下载合集(2020年03月更新)</span>
				<span class="desc">​现在越来越多的人使用Mac，各种各样的软件也越来越多，但是也不是每一款软件都会上架到App Store上，而如果你需要下载的话就得到各自的官网去，真的...</span>
				<span class="state-box">
					<span class="name-box col">
						<img src="<%=relative_path%>images/avatar.jpeg"/>
						<span class="name col">废鱼纸</span>
					</span>
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.01.16</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay': 0,'distance':60}" title="百样人生！Mac上的角色扮演游戏推荐">
		<a href="<%=relative_path%>post.html">
			<span class="article-thumb">
				<img src="<%=relative_path%>images/cover.png" />
				<span class="tag">游戏专区</span>
			</span>
			<span class="article-bd">
				<span class="title">百样人生！Mac上的角色扮演游戏推荐</span>
				<span class="desc">宅家期间，佐佐又来给大家推荐游戏啦。今天给大家推荐一些Mac上好玩的角色扮演游戏。在这些引人入胜的奇幻世界里，你扮演的主人公会遇到无数迷人的角色...</span>
				<span class="state-box">
					<span class="name-box col">
						<img src="<%=relative_path%>images/avatar.jpeg"/>
						<span class="name col">佐珥</span>
					</span>
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.03.06</span>
					</span>
				</span>
			</span>
		</a></li>
	<li class="article-li" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay': 0,'distance':60}" title="MacOS专业音乐制作软件">
		<a href="<%=relative_path%>post.html">
			<span class="article-thumb">
				<img src="<%=relative_path%>images/cover.png" />
				<span class="tag">精选应用</span>
			</span>
			<span class="article-bd">
				<span class="title">MacOS专业音乐制作软件</span>
				<span class="desc">做视频剪辑的小伙伴们经常为找不到合适的背景乐而烦恼，而且现在很多音乐都有版权，都需要支付相应的费用才能使用。那怎么办呢？不妨试试自己制作乐曲...</span>
				<span class="state-box">
					<span class="name-box col">
						<img src="<%=relative_path%>images/avatar.jpeg"/>
						<span class="name col">Mignon</span>
					</span>
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.03.04</span>
					</span>
				</span>
			</span>
		</a></li>

</ul>