<ul class="items clearfix">
	<li class="item col" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="item-left col">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</div>
			<div class="item-right col">
				<div class="hd">
					Viper FTP 5.5.2
				</div>
				<div class="md">
					<span class="tag col">FTP客户端</span>
					一个方便且功能强大的macOS文件管理器，具有庞大的用户界面，可以轻松使用。有助于本地和远程文件管理。
				</div>
				<div class="bd">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.03.07</span>
					</span>
				</div>
			</div>
		</a>
	</li>
	<li class="item col" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="item-left col">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</div>
			<div class="item-right col">
				<div class="hd">
					Espresso 5.3.2</div>
				<div class="md">
					<span class="tag col">强大的网页开发工具</span>
					具有强大的Web设计和开发工具简化您的工作流程，独特的导航器概述了文档的层次结构，甚至提供了拖放重组选项。</div>
				<div class="bd">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.03.07</span>
					</span></div>
			</div>
		</a></li>
	<li class="item col" data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="item-left col">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</div>
			<div class="item-right col">
				<div class="hd">
					CopyClip 2.9.96</div>
				<div class="md">
					<span class="tag col">优秀的剪切板增强工具</span>
					它可以从Menubar方便的曾经复制过的内容，将以前复制过的内容重新放入剪切板。</div>
				<div class="bd">
					<span class="state col">
						<i class="icon-date col"></i>
						<span class="col">2020.03.07</span>
					</span></div>
			</div>
		</a></li>
</ul>