<ul class="hot-articles">
	<li>
		<a href="/article/apps/best-osx-macos-apps-you-need-2019">
			<span class="thumb">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</span>
			<span class="bd">
				<span class="article-title">MacOS装机必备应用下载合集(201...</span>
				<span class="state">
					<i class="icon-date"></i>
					<span class="col">2020.01.16</span>
				</span>
			</span>
		</a></li>
	<li>
		<a href="/article/apps/best-osx-macos-apps-you-need-2018">
			<span class="thumb">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</span>
			<span class="bd">
				<span class="article-title">macOS装机必备应用下载合集(201...</span>
				<span class="state">
					<i class="icon-date"></i>
					<span class="col">2018.12.10</span>
				</span>
			</span>
		</a></li>
	<li>
		<a href="/article/tips/top-10-macos-keyboard-shortcuts">
			<span class="thumb">
				<img src="<%=relative_path%>images/cover.png" data-src="<%=relative_path%>images/cover.png"/>
			</span>
			<span class="bd">
				<span class="article-title">大家应该知道的十大macOS键盘快...</span>
				<span class="state">
					<i class="icon-date"></i>
					<span class="col">2018.01.22</span>
				</span>
			</span>
		</a></li>
</ul>