<ul class="top50-list">
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="thumb">
				<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
			 </div>
			<div class="info">
				<div class="count">1</div>
				<div class="name">
					Adobe Zii 2020 5.1.8</div>
				<div class="desc">Adobe套装激活工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/graphics-design/adobe-zii">
				免费下载
			</a></div>
	</li>
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="thumb">
				<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
			 </div>
			<div class="info">
				<div class="count">2</div>
				<div class="name">
					Downie 4.0.3</div>
				<div class="desc">视频下载工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/internet/downie">
				免费下载
			</a></div>
	</li>
	<li data-animation="{'oDuration':1,'tDuration':1.2,'dir':'y','delay':0,'distance':60}">
		<a href="<%=relative_path%>post.html">
			<div class="thumb">
				<img src="<%=relative_path%>images/placeholder.png" data-src="<%=relative_path%>images/app.png">
			 </div>
			<div class="info">
				<div class="count">3</div>
				<div class="name">
					The Unarchiver 4.1.0</div>
				<div class="desc">优秀的免费解压缩工具</div>
			</div>
		</a>
		<div class="btns">
			<a class="btn btn-download" href="/app/system/the-unarchiver">
				免费下载
			</a></div>
	</li>
</ul>