<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>title</title>
		<meta name="description" content="description">
		<meta name="keywords" content="keywords">
		<link rel="shortcut icon" type="x-icon" href="<%=relative_path%>images/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="<%=relative_path%>css/style.css">
		<link rel="stylesheet" type="text/css" href="<%=relative_path%>css/swiper.css">
		<link rel="stylesheet" href="<%=relative_path%>js/player/mediaelementplayer.css">
		<link rel="stylesheet" type="text/css" href="<%=relative_path%>css/fancybox.css">
	</head>
	<body>